*{
    box-sizing:border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:15px 30px;
    font-size:17px;
    padding:8px;
}
.container{
    background-color: rgb(239, 240, 227);
    padding:5px 20px 15px 20px;
    border:1px solid lightgraw;
    border-radius: 4px;
}
.main_heading{
    text-align:center;
    text-decoration: double underline;
}
input[type="submit"]{
    background-color:#4ae14a;
    padding:10px 20px;
    border:none;
    border-radius:4px;
    cursor:pointer;
    width:100%
}
input[type="submit"]:hover{
    background-color:#4caf84;
}
.P-i{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
}
.profile_photo{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    /* padding: 20px; */
    border: 2px solid black;
    border-radius: 5px;
}
.up-btn{
    padding: 5px;
    background-color: #e14a4a;
    color: white;
}
.prInfo{
    width: 50%;
}
.prInfo input{
    width: 100%;
}
.prInfo select{
    width: 100%;
}
.F-C{
    width: 100%;
}
.family-details input{
width: 100%;
}
.contact-Info input{
    width: 100%;
}
.family-details select{
    width: 100%;
}